# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/
build/

# Production
dist/

# Misc
.DS_Store
*.pem
*.log

# Local env files
.env
.env*.local
!.env.example

# Vercel
.vercel

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
Thumbs.db

# Cache
.cache/
.parcel-cache/
.eslintcache
